<h1>Listing chatters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatters.each do |chatter| %>
      <tr>
        <td><%= link_to 'Show', chatter %></td>
        <td><%= link_to 'Edit', edit_chatter_path(chatter) %></td>
        <td><%= link_to 'Destroy', chatter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatter', new_chatter_path %>
